<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace, sans-serif;
            font-size: 18px;
        }
        h1 {
            font-size: 24px;
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        li strong {
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: #ff0000;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

    <h1>Contact Me</h1>
    
    <ul>
        <li><strong>Phone Number:</strong> <a href="tel:+">9999999999 </a></li>
        <li><strong>Email:</strong> <a href="mailto:divyanshu.vitc@gmail.com">divyanshu.vitc@gmail.com</a></li>
        <li><strong>Instagram:</strong> <a href="https://www.instagram.com/ds.vitc">@ds.vitc</a></li>
        <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/realdivyanshusingh/">Divyanshu Singh</a></li>
    </ul>

</body>
</html>
