<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>
        body {
          font-family: Courier 'Courier New', Courier, monospace, sans-serif;
          text-align: center;
          margin: 50px;
        }
        h1 {
          color: #333;
        }
        button {
          padding: 10px 20px;
          font-size: 16px;
          margin: 10px;
          cursor: pointer;
        }
        #btn1 {
          background-color: #4CAF50;
          color: white;
          border: none;
        }
        #btn2 {
          background-color: #3498db;
          color: white;
          border: none;
        }
      </style>
    </head>
<body>

    <h1>Welcome to Divyanshu's Webpage!</h1>
    <p><h2>Thank you for visiting. This Project is made to introduce Myself.
        Feel Free To Know About Me and Contact Me!</h2>
    <br>
    </p>

    <a href="/about/aboutme"><button style="padding: 20px 40px; font-size: 20px;">About Me</button></a>
    <a href="/contact/contactme"><button style="padding: 20px 40px; font-size: 20px;">Contact Me</button></a>

</body>
</html>